/* externos */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300&family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Open+Sans:wght@300&family=Oswald:wght@300&family=Roboto:ital@1&display=swap");
/*inicio reset*/
* {
    margin: 0;
    padding: 0; }

    html {
        font-size: 62.5%;
    }
  
/*fin reset*/
/* inicio nav */
.navbar{
    padding: 0rem;
    background: #ff8008;
    background: -webkit-linear-gradient(to left, #ff8008, #ffc837); 
    background: linear-gradient(to left, #ff8008, #ffc837);
}

.nav-link{
    font-size: 1.8em;
}

.navbar-brand{
    padding: 0;
    margin: 0;
}

.logo{
    width: 50px;
}
/* fin nav */

.contenedor{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1.5rem;
}

.contenedor__sectionImg{
    width: 100%;
    background-color: aliceblue;
}

.contenedor__sectionArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor__div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor__parrafo{
    font-size: 2em;
    margin-bottom: 0rem;
}

.contenedor__img{
    display: flex;
}

.contenedor__imagen{
   width: 200px;
}

.contenedor__primerSection{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.contenedor__article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.personajes{
    width: 200px;
    height: 396px;
}
.contenedor__picture{
    transition: 1s;
    margin-bottom: 0.4rem;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: 1s;
}

.contenedor__picture:hover {
    transform: rotateY(180deg); }

.contenedor__segundoSection{
display: flex;
justify-content: space-between;
width: 80%;
display: none;
}
/* clases de botones */

.btn__resultado{
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
}

.btn__test {
    cursor: pointer;
    width: 130px;
    height: 25px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 30px;
    border: 1px solid #8F9092;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #fff;
}

.botonPersonajes {
    font-family: monospace;
    font-size: 1.5rem;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 35px 0;
  }
  
  .botonPersonajes:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }

.btn {
    background: #FBCA1F;
    /* font-family: inherit; */
    font-weight: 900;
    font-size: 13px;
    border: 2px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
   }
   
   .btn:hover {
    background-color: #ff8008;
   }
   
   /* button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   } */

   .btn__enlace{
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 30px;
    border: 1px solid #8F9092;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #fff;
   }


/* clases de los swal */
.swalTitulo{
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif;
}
.swalParrafo{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;;
}
.test{
    display: none;
    margin-top: 1rem;
}

/* test section*/
.test__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.test__img{
    width: 200px;
}

.test__article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test__div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.test__titulo{
    text-align: center;
}

/* proyecto */
.body__proyecto{
    background: #0575E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.main__proyecto{
    margin-top: 2rem;
}

.proyecto__article{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.proyecto__div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img__proyecto{
    width: 500px;
}

@media screen and (max-width: 480px){
    
    .nav-link{
        font-size: 1.5em;
    }
    /* test */
    .contenedor__segundoSection{
        flex-direction: column;
        gap: 2rem;
    }
    .contenedor__article{
        gap: 1rem;
        margin-top: 2rem;
    }

    .contenedor__titulo{
        font-size: 2.5em;
    }

    .contenedor__div{
        width: 90%;
    }

    .contenedor__parrafo{
        font-size: 1.4em;
    }

    .btn__div{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    /* proyecto */
    .proyecto__article{
        flex-direction: column;
        gap: 3rem;
    }

    .img__proyecto{
        width: 60%;
    }

    .proyecto__picture{
        margin-bottom: 0.5rem;
        display: flex;
    justify-content: space-evenly;
    }
/* boton enlace */
    .btn__enlace{
        font-size: 14px;
        width: 117px;
        height: 26px;
    }
}
